{#
 This file is part of the Sales Report plugin

Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% extends 'SalesReport/Resource/template/index.twig' %}

{% set report_title = '期間別集計' %}
{% set action = url('admin_sales_report_term') %}
{% set menus = ['admin_sales_report', 'admin_sales_report'] %}

{% block chart %}
    <script>
        var graphData = {{ graphData|raw }};
        window.onload = function() {
            //create line chart
            if(graphData != null) {
                var config = {
                    type: 'line',
                    data: graphData,
                    options: {
                        responsive: true
                    }
                };
                var ctx = document.getElementById("chart").getContext("2d");
                new Chart(ctx, config);
            }
            //export csv
            $('#export-csv').click(function () {
                $("#term-table").tableToCSV();
            });
        };
    </script>
{% endblock %}

{% block option %}
<div class="form-group">
    {{ form_label(form.unit) }}
    <div class="col-sm-9 col-lg-9">
        {{ form_widget(form.unit) }}
        {{ form_errors(form.unit) }}
    </div>
</div>
{% endblock %}

{% block table %}
    {% if app.request.method == 'POST' and rawData is not null %}
    <div class="row">
        <div class="flR" style="margin: 10px 20px 10px 0;">
            <a id="export-csv" class="btn btn-default" data-export="export">CSV ダウンロード</a>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-header no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped" id="term-table">
                            <thead>
                                <tr>
                                    <th>期間</th>
                                    <th>購入件数</th>
                                    <th>購入合計</th>
                                    <th>購入平均</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for date, row in rawData %}
                                    <tr>
                                        <td>{{ date }}</td>
                                        <td>{{ row.time|number_format }}</td>
                                        <td class="price-format">{{ row.price|price }}</td>
                                        <td class="hidden">{{ row.price }}</td>
                                        <td class="price-format">
                                            {% if row.time > 0 %}
                                                {{ (row.price / row.time)|round(2, 'floor')|price }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="hidden">
                                            {% if row.time > 0 %}
                                                {{ (row.price / row.time)|round(2, 'floor') }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    {% endif %}
{% endblock %}